# plotly express

In [6]:
import plotly.express as px

gapminder = px.data.gapminder()
gapminder.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [7]:
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
 6   iso_alpha  1704 non-null   object
 7   iso_num    1704 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 106.6+ KB

In [13]:
# boolean mask - skickar in masken och extraherar ut alla true (sverige)
nordic = gapminder[gapminder["country"].isin(["Sweden", "Norway", "Denmark", "Finland", "Island"])]
nordic.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
408,Denmark,Europe,1952,70.78,4334000,9692.385245,DNK,208
409,Denmark,Europe,1957,71.81,4487831,11099.659350,DNK,208
410,Denmark,Europe,1962,72.35,4646899,13583.313510,DNK,208
411,Denmark,Europe,1967,72.96,4838800,15937.211230,DNK,208
412,Denmark,Europe,1972,73.47,4991596,18866.207210,DNK,208

In [14]:
nordic["year"].value_counts()

year
1952    4
1957    4
1962    4
1967    4
1972    4
1977    4
1982    4
1987    4
1992    4
1997    4
2002    4
2007    4
Name: count, dtype: int64

In [19]:
nordic[nordic["year"] == 2007]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
419,Denmark,Europe,2007,78.332,5468120,35278.41874,DNK,208
527,Finland,Europe,2007,79.313,5238460,33207.08440,FIN,246
1151,Norway,Europe,2007,80.196,4627926,49357.19017,NOR,578
1475,Sweden,Europe,2007,80.884,9031088,33859.74835,SWE,752