In [ ]:
import pandas as pd 

df = pd.read

## EDA- Exploratory

In [ ]:
df.shape()

In [ ]:
df.info()

In [ ]:
df.discribe().T

In [ ]:
df.head(10)

In [ ]:
import duckdb

# brand and total quantity for each brand

duckdb.query("""
    SELECT
        make AS Brand,
        SUM(quantity) AS Quantity
    FROM df
    GROUP BY
        make
    ORDER BY
        quantity
    DESC
""").df()

df_quantity_brand.head()

## Bar chart

In [ ]:
df_quantity_brand.plot(kind = "bar", x = "Brand", y = "Quantity")

Plot top 5 most popular brands

In [ ]:
df_quantity_brand.pl.head(kind = "bar", x = "Brand", y = "Quantity")

In [ ]:
df_quantity_brand.pl.iloc[3:5].plot(kind = "bar", x = "Brand", y = "Quantity")

## matplotlib bar

In [ ]:
import matplotlib.pyplot as plt

df_quantity_brand_top10 = df_quantity_brand.pl.iloc[:10]

fig, ax = plt.subplot(figaize = (12,6))

ax.bar(
    x = df_quantity_brand_top10["Brand"],
    height = df_quantity_brand_top10["Quantity"],
    width=0.6,
)

ax.set(
    title="Number of cars from top 10 most sold brands in Norway 2007-2017",
    xlabel="Car brand",
    ylabel="Number of cars",
)

fig.typelayout()

fig.savefig("figures/bars_top_10_cars.png")

In [ ]:
df_quantity_brand_top10["Quantity"]

## Line chart

In [ ]:
df_quantity_year = duckdb.query("""
    SELECT 
        year, 
        SUM(quantity) AS Quantity
    FROM df
    GROUP BY year
    ORDER BY
        year
""").df().set_index("Year")

df_quantity_year

In [ ]:
df.tail()

In [ ]:
df_quantity_year.iloc[:-1].plot()

In [ ]:
df_quantity_year.iloc[:-1].plot(title = "Car sales in Noway between 2007-2016", xlabel = "Year", ylabel = "Number cars sold", style="--0", linewidth=2)

ax.legend().remove()
fig = ax.get_figure()
fig.tight_layout()

fig.savefig("figures/car_sales_wearly_lin.png")